/*==================== GALLERY ====================*/
.Gallery {
  padding: 50px 0; /* Vertical padding for the entire section */
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: Add background to improve readability */
  color: #fff;
  text-align: center;
}

.upload-section {
  margin-bottom: 50px; /* Space between upload section and images */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 15px; /* Space between images */
}

.image-grid .image-container {
  position: relative;
}

.image-grid .image-container img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.2s ease-in-out;
}

.image-grid .image-container img:hover {
  transform: scale(1.05);
}

.image-grid .centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
